# **Feature Engineering**
Aca detallaremos todos los pasos necesarios para convertir nuestra data en el formato adecuado para nuestro modelo de recomendaci√≥n, usando tablas de Googlemaps, Yelp y Tripadvisor.

In [1]:
import pandas as pd
import numpy as np
import pandas as pd
%load_ext autoreload
%autoreload 2
import warnings
warnings.filterwarnings("ignore")

StatementMeta(, 883cf750-4f95-4e08-8cf4-c3014d4c1a79, 3, Finished, Available)

##### Extraemos data necesaria

In [10]:
df_google_meta = pd.read_csv("/lakehouse/default/" + "Files/DATA_PROCESADA/df_METADATAGOOGLE.csv")
df_google_estados = pd.read_csv("/lakehouse/default/" + "Files/DATA_PROCESADA/df.ESTADOSGOOGLE.csv")
df_businessyelp = pd.read_csv("/lakehouse/default/" + "Files/DATA_PROCESADA/df_BUSINESSYELP.csv")
df_reviewyelp = pd.read_csv("/lakehouse/default/" + "Files/DATA_PROCESADA/df_REVIEWYELP.csv")

StatementMeta(, , , Waiting, )

In [4]:

df_google_meta

StatementMeta(, , , Waiting, )

,NAME,ADDRESS,GMAP_ID,AVG_RATING,NUM_OF_REVIEWS,URL,CATEGORY,CATEGORY SUMMARY,LATITUDE,LONGITUDE
0,Los Angeles Public Social Services,"Los Angeles Public Social Services, 14545 Lana...",0x80c2972d773bc473:0x632e57075856a19b,29,8,https://www.google.com/maps/place//data=!4m2!3...,Department of Social Services,Service,34.218363,-118.505115
1,Orange County Social Services Department,"Orange County Social Services Department, 141 ...",0x89dd321bf0a0f0e7:0x51d905f05c885421,34,8,https://www.google.com/maps/place//data=!4m2!3...,Department of Social Services,Service,41.499690,-74.133797
2,Midwest D Vision Solutions,"Midwest D Vision Solutions, 965 W 2480 S, Sout...",0x87528b3afcd8e5c5:0x3dd720856b07df96,44,8,https://www.google.com/maps/place//data=!4m2!3...,Services,Service,40.716592,-111.186882
3,Chickasha Pre-War Swap Meet,"Chickasha Pre-War Swap Meet, Chickasha, OK 73023",0x87ad849b1df46b6b:0xbfaf4ce45a47643f,38,8,https://www.google.com/maps/place//data=!4m2!3...,Services,Service,35.051789,-97.283730
4,Kasa Mia,"Kasa Mia, 460 N Arroyo Blvd, Nogales, AZ 85621",0x86d6ad17422d999f:0xfd896e13673fee2b,40,8,https://www.google.com/maps/place//data=!4m2!3...,Services,Service,31.340019,-110.381663
...,...,...,...,...,...,...,...,...,...,...
3025006,Matthew Hayford Photography,NaN,0x88de0f1c3db4ccc1:0x69e1c0d6da9e948b,50,8,https://www.google.com/maps/place//data=!4m2!3...,Wedding photographer,Other,45.597481,-127.696988
3025007,WebsiteTrouble.com,NaN,0x88690cb7d1491e15:0xc7534fc5ebf2f99d,50,8,https://www.google.com/maps/place//data=!4m2!3...,Web hosting company,Other,45.597481,-127.696988
3025008,Visitation Management Services (VMS),NaN,0x88c2c32c21f105bb:0x9979fbe31e22d681,50,8,https://www.google.com/maps/place//data=!4m2!3...,Social services organization,Other,45.597481,-127.696988
3025009,Ivan Hundric Photography,NaN,0x80c36708bfc4a05b:0xc537365e412ca30d,50,8,https://www.google.com/maps/place//data=!4m2!3...,Photographer,Other,45.597481,-127.696988
3025010,Krystal Richmond Photography,NaN,0x880ddd2b891925f1:0x750bc5484fdd381a,50,8,https://www.google.com/maps/place//data=!4m2!3...,Wedding photographer,Other,45.597481,-127.696988

In [11]:
df_google_meta['ADDRESS'] = df_google_meta['ADDRESS'].fillna('S/D')

StatementMeta(, , , Waiting, )

In [6]:
df_google_meta.tail(15)

StatementMeta(, , , Waiting, )

,NAME,ADDRESS,GMAP_ID,AVG_RATING,NUM_OF_REVIEWS,URL,CATEGORY,CATEGORY SUMMARY,LATITUDE,LONGITUDE
3024996,Quick Draw Photo Booth,S/D,0x8644b5c9825a043b:0xc81733255d2a50d,50,8,https://www.google.com/maps/place//data=!4m2!3...,Wedding photographer,Other,45.597481,-127.696988
3024997,Hub City Bees,S/D,0x88579f98e413fad5:0x3a0ba75335d9471e,50,8,https://www.google.com/maps/place//data=!4m2!3...,Aerial photographer,Other,45.597481,-127.696988
3024998,IMRAN SPORTS,S/D,0x880fcf068d4edab9:0xb69957a227816702,50,8,https://www.google.com/maps/place//data=!4m2!3...,Cricket shop,Other,45.597481,-127.696988
3024999,Dave's Truck & Equipment Repair,S/D,0x89c6b5295131564d:0x83d562fe123edb1,50,8,https://www.google.com/maps/place//data=!4m2!3...,Auto repair shop,Other,45.597481,-127.696988
3025000,Vinos de Baja Tours,S/D,0x80deabcae88117bd:0x5ebf2dfd4875e1c8,50,8,https://www.google.com/maps/place//data=!4m2!3...,Tour agency,Other,45.597481,-127.696988
3025001,MoldMan LLC,S/D,0x89de0bbc7ccc9bcb:0x4d48079c00222882,50,8,https://www.google.com/maps/place//data=!4m2!3...,Cleaning service,Other,45.597481,-127.696988
3025002,Gold & Blue Veterinary Wellness,S/D,0x80dce9c2159ac1f1:0xc019cc9c56982755,50,8,https://www.google.com/maps/place//data=!4m2!3...,Veterinarian,Other,45.597481,-127.696988
3025003,IntuiTouch Therapeutics LLC,S/D,0x872273f7cde5509b:0x64af9bad3cacce8b,50,8,https://www.google.com/maps/place//data=!4m2!3...,Massage therapist,Other,45.597481,-127.696988
3025004,DJ Danny Garcia,S/D,0x88e768242d78d4c3:0x9a9d6699efd25ac8,50,8,https://www.google.com/maps/place//data=!4m2!3...,DJ service,Other,45.597481,-127.696988
3025005,Sherry Olson Studios,S/D,0x876c805b792bb019:0x555cdc88154b5eca,50,8,https://www.google.com/maps/place//data=!4m2!3...,Graphic designer,Other,45.597481,-127.696988
3025006,Matthew Hayford Photography,S/D,0x88de0f1c3db4ccc1:0x69e1c0d6da9e948b,50,8,https://www.google.com/maps/place//data=!4m2!3...,Wedding photographer,Other,45.597481,-127.696988
3025007,WebsiteTrouble.com,S/D,0x88690cb7d1491e15:0xc7534fc5ebf2f99d,50,8,https://www.google.com/maps/place//data=!4m2!3...,Web hosting company,Other,45.597481,-127.696988
3025008,Visitation Management Services (VMS),S/D,0x88c2c32c21f105bb:0x9979fbe31e22d681,50,8,https://www.google.com/maps/place//data=!4m2!3...,Social services organization,Other,45.597481,-127.696988
3025009,Ivan Hundric Photography,S/D,0x80c36708bfc4a05b:0xc537365e412ca30d,50,8,https://www.google.com/maps/place//data=!4m2!3...,Photographer,Other,45.597481,-127.696988
3025010,Krystal Richmond Photography,S/D,0x880ddd2b891925f1:0x750bc5484fdd381a,50,8,https://www.google.com/maps/place//data=!4m2!3...,Wedding photographer,Other,45.597481,-127.696988

##### Iniciamos transformaciones necesarias para elaborar el modelo de predicci√≥n

**1. Google Maps**

In [12]:
#Unimos la data correspondiente a google
df_google = pd.merge(df_google_estados, df_google_meta, on='GMAP_ID', how='inner')

StatementMeta(, , , Waiting, )

In [8]:
df_google

StatementMeta(, , , Waiting, )

,USER_ID,NAME_x,RATING,GMAP_ID,STATE,DATE,SENTIMENT_ANALYSIS,NAME_y,ADDRESS,AVG_RATING,NUM_OF_REVIEWS,URL,CATEGORY,CATEGORY SUMMARY,LATITUDE,LONGITUDE
0,1.052967e+36,Oscar P√©rez,2,0x88f5a756f3e2a719:0xb192d571bc5cfee3,Georgia,2019-07-20,2,Don Arepacho,"Don Arepacho, 1630 Pleasant Hill Rd, Duluth, G...",42,313,https://www.google.com/maps/place//data=!4m2!3...,Venezuelan restaurant,Food and drink,33.946296,-84.228399
1,1.111244e+36,Henyerli Parada,4,0x88f5a756f3e2a719:0xb192d571bc5cfee3,Georgia,2019-06-22,2,Don Arepacho,"Don Arepacho, 1630 Pleasant Hill Rd, Duluth, G...",42,313,https://www.google.com/maps/place//data=!4m2!3...,Venezuelan restaurant,Food and drink,33.946296,-84.228399
2,1.118958e+36,veronica ocando,5,0x88f5a756f3e2a719:0xb192d571bc5cfee3,Georgia,2019-10-19,1,Don Arepacho,"Don Arepacho, 1630 Pleasant Hill Rd, Duluth, G...",42,313,https://www.google.com/maps/place//data=!4m2!3...,Venezuelan restaurant,Food and drink,33.946296,-84.228399
3,1.073127e+36,Frank,5,0x88f5a756f3e2a719:0xb192d571bc5cfee3,Georgia,2019-08-04,1,Don Arepacho,"Don Arepacho, 1630 Pleasant Hill Rd, Duluth, G...",42,313,https://www.google.com/maps/place//data=!4m2!3...,Venezuelan restaurant,Food and drink,33.946296,-84.228399
4,1.010147e+35,Jose Tallaferro,1,0x88f5a756f3e2a719:0xb192d571bc5cfee3,Georgia,2019-10-06,0,Don Arepacho,"Don Arepacho, 1630 Pleasant Hill Rd, Duluth, G...",42,313,https://www.google.com/maps/place//data=!4m2!3...,Venezuelan restaurant,Food and drink,33.946296,-84.228399
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15652917,1.028432e+36,CDL CO,5,0x80c8c5cdced316b5:0xaf1ea0b1e42132a9,Nevada,2021-06-03,2,Castle Coffee,"Castle Coffee, Excalibur Hotel and Casino, 385...",32,24,https://www.google.com/maps/place//data=!4m2!3...,Coffee shop,Other,36.099575,-115.763381
15652918,1.141624e+36,M Aris,3,0x80c8c5cdced316b5:0xaf1ea0b1e42132a9,Nevada,2016-07-12,1,Castle Coffee,"Castle Coffee, Excalibur Hotel and Casino, 385...",32,24,https://www.google.com/maps/place//data=!4m2!3...,Coffee shop,Other,36.099575,-115.763381
15652919,1.141624e+36,M Aris,3,0x80c8c5cdced316b5:0xaf1ea0b1e42132a9,Nevada,2016-07-12,1,Castle Coffee,"Castle Coffee, Excalibur Hotel and Casino, 385...",32,24,https://www.google.com/maps/place//data=!4m2!3...,Coffee shop,Other,36.099575,-115.763381
15652920,1.150063e+36,Javier Banuelos,4,0x80c8c5cdced316b5:0xaf1ea0b1e42132a9,Nevada,2016-05-01,1,Castle Coffee,"Castle Coffee, Excalibur Hotel and Casino, 385...",32,24,https://www.google.com/maps/place//data=!4m2!3...,Coffee shop,Other,36.099575,-115.763381
15652921,1.150063e+36,Javier Banuelos,4,0x80c8c5cdced316b5:0xaf1ea0b1e42132a9,Nevada,2016-05-01,1,Castle Coffee,"Castle Coffee, Excalibur Hotel and Casino, 385...",32,24,https://www.google.com/maps/place//data=!4m2!3...,Coffee shop,Other,36.099575,-115.763381

In [13]:
df_google = df_google.drop(['GMAP_ID','URL','ADDRESS','USER_ID','NAME_x','AVG_RATING'],axis=1)

StatementMeta(, , , Waiting, )

In [14]:
df_google = df_google[(df_google['RATING'] > 3.5) & (df_google['SENTIMENT_ANALYSIS'] > 0)]

StatementMeta(, , , Waiting, )

In [15]:
df_google=df_google.drop('SENTIMENT_ANALYSIS',axis=1)
df_google

StatementMeta(, , , Waiting, )

,RATING,STATE,DATE,NAME_y,NUM_OF_REVIEWS,CATEGORY,CATEGORY SUMMARY,LATITUDE,LONGITUDE
1,4,Georgia,2019-06-22,Don Arepacho,313,Venezuelan restaurant,Food and drink,33.946296,-84.228399
2,5,Georgia,2019-10-19,Don Arepacho,313,Venezuelan restaurant,Food and drink,33.946296,-84.228399
3,5,Georgia,2019-08-04,Don Arepacho,313,Venezuelan restaurant,Food and drink,33.946296,-84.228399
5,5,Georgia,2020-03-08,Don Arepacho,313,Venezuelan restaurant,Food and drink,33.946296,-84.228399
6,5,Georgia,2019-09-21,Don Arepacho,313,Venezuelan restaurant,Food and drink,33.946296,-84.228399
...,...,...,...,...,...,...,...,...,...
15652909,5,Nevada,2019-02-19,Castle Coffee,24,Coffee shop,Other,36.099575,-115.763381
15652916,5,Nevada,2021-06-03,Castle Coffee,24,Coffee shop,Other,36.099575,-115.763381
15652917,5,Nevada,2021-06-03,Castle Coffee,24,Coffee shop,Other,36.099575,-115.763381
15652920,4,Nevada,2016-05-01,Castle Coffee,24,Coffee shop,Other,36.099575,-115.763381
15652921,4,Nevada,2016-05-01,Castle Coffee,24,Coffee shop,Other,36.099575,-115.763381

In [16]:
df_google_agrupado = df_google.groupby(['NAME_y','STATE','CATEGORY SUMMARY','LATITUDE','LONGITUDE']).agg({'RATING': 'mean','NUM_OF_REVIEWS': 'sum'}).reset_index()

StatementMeta(, , , Waiting, )

In [ ]:
df_google_agrupado

StatementMeta(, , , Waiting, )

,NAME_y,STATE,CATEGORY SUMMARY,LATITUDE,LONGITUDE,RATING,NUM_OF_REVIEWS
0,"""A"" Auto Body Shop",Virginia,Other,37.440815,-77.868580,4.892857,13664
1,"""Artcentric"" Pottery Painting and Glass Studio",California,Other,38.050382,-122.583503,4.952381,693
2,"""BIG VAPE"" Vapor Trails, LLC",Texas,Other,31.632691,-94.411059,4.928571,378
3,"""BLUE ZEBRA"" LA ZEBRA AZUL RESTAURANT BAR, NIG...",California,Other,38.122706,-121.600563,4.500000,462
4,"""Easy Insurance""",Nevada,Other,36.144533,-115.324783,5.000000,816
...,...,...,...,...,...,...,...
379839,üîë üöóEZ Car Keyz Locksmith Camarillo,California,Other,34.232839,-119.519640,5.000000,1469
379840,üòÅ White Smiles of Boca,Florida,Other,26.350016,-80.902422,4.958333,8952
379841,ü•á Nectar Lab Kava Bar,Florida,Other,26.176886,-81.991630,4.945946,16206
379842,ü•áGenesis Window Tint,California,Other,33.737288,-116.551803,4.947368,3382
379843,ü•áIndio Mufflers & Auto Repair,California,Other,33.709816,-116.017130,4.818182,286

In [ ]:
# Agrupar por ciudades √∫nicas
# ciudades_unicas = df_google_agrupado[['LATITUDE', 'LONGITUDE']].drop_duplicates()

StatementMeta(, , , Waiting, )

In [22]:
# ciudades_unicas

StatementMeta(, , , Waiting, )

In [29]:
# from joblib import Parallel, delayed

# # Obtener el n√∫mero de n√∫cleos de CPU disponibles
# num_cores = 5  # Reemplaza <N√∫mero_de_n√∫cleos> con el n√∫mero de n√∫cleos que deseas utilizar
# api_key = 'AIzaSyDt4mgY5RDkdLhWFiR8q1LgIbpWTus5448'

# # Definir una funci√≥n para obtener el nombre de la ciudad
# def obtener_nombre_ciudad(row):
#     return get_city(row['LATITUDE'], row['LONGITUDE'], api_key)

# # Aplicar el procesamiento en paralelo para obtener los nombres de las ciudades
# ciudades_unicas['CITY'] = Parallel(n_jobs=num_cores)(delayed(obtener_nombre_ciudad)(row) for index, row in ciudades_unicas.iterrows())

StatementMeta(, , , Waiting, )

In [30]:
# ciudades_unicas

StatementMeta(, , , Waiting, )

In [32]:
#Cargamos la data a nuestro lakehouse
#ciudades_unicas.to_csv('abfss://558991ad-6fdf-463a-b58a-238ddabaa398@onelake.dfs.fabric.microsoft.com/37a0382d-f783-4728-a697-48b1dc002937/Files/DATA FINAL/GOOGLE MAPS/Ciudades_unicas.csv',escapechar='\\')

StatementMeta(, , , Waiting, )

In [17]:

# Mount external lakehouse  "LH_origen_PFH" into specified local path.
mssparkutils.fs.mount("abfss://558991ad-6fdf-463a-b58a-238ddabaa398@onelake.dfs.fabric.microsoft.com/37a0382d-f783-4728-a697-48b1dc002937", "/lakehouse/LH_origen_PFH")

import pandas as pd
# Load data into pandas DataFrame from mssparkutils.fs.getMountPath('/lakehouse/LH_origen_PFH/') + "Files/DATA FINAL/GOOGLE MAPS/Ciudades_unicas.csv"
ciudades_unicas = pd.read_csv(mssparkutils.fs.getMountPath('/lakehouse/LH_origen_PFH/') + "Files/DATA FINAL/GOOGLE MAPS/Ciudades_unicas.csv")

StatementMeta(, , , Waiting, )

SynapseWidget(Synapse.DataFrame, 13c0621f-4bb4-4352-8729-549e17621e94)

In [ ]:
ciudades_unicas

StatementMeta(, , , Waiting, )

        Unnamed: 0   LATITUDE   LONGITUDE                    CITY
0                0  37.440815  -77.868580      Amelia Court House
1                1  38.050382 -122.583503  Lucas Valley-Marinwood
2                2  31.632691  -94.411059            Martinsville
3                3  38.122706 -121.600563                 Isleton
4                4  36.144533 -115.324783               Las Vegas
...            ...        ...         ...                     ...
375509      379838  34.224890 -119.948282                     NaN
375510      379839  34.232839 -119.519640             Carpinteria
375511      379840  26.350016  -80.902422                     NaN
375512      379842  33.737288 -116.551803                     NaN
375513      379843  33.709816 -116.017130               Coachella

[375514 rows x 4 columns]

In [18]:
numero_nulos = ciudades_unicas['CITY'].isnull().sum()

print("N√∫mero de valores nulos en la columna 'CITY':", numero_nulos)

StatementMeta(, , , Waiting, )

N√∫mero de valores nulos en la columna 'CITY': 26538

In [19]:
ciudades_unicas = ciudades_unicas.dropna(subset=['CITY'])
df_google_agrupado = pd.merge(df_google_agrupado, ciudades_unicas, on=['LATITUDE', 'LONGITUDE'], how='left')
df_google_agrupado

StatementMeta(, , , Waiting, )

,NAME_y,STATE,CATEGORY SUMMARY,LATITUDE,LONGITUDE,RATING,NUM_OF_REVIEWS,Unnamed: 0,CITY
0,"""A"" Auto Body Shop",Virginia,Other,37.440815,-77.868580,4.892857,13664,0.0,Amelia Court House
1,"""Artcentric"" Pottery Painting and Glass Studio",California,Other,38.050382,-122.583503,4.952381,693,1.0,Lucas Valley-Marinwood
2,"""BIG VAPE"" Vapor Trails, LLC",Texas,Other,31.632691,-94.411059,4.928571,378,2.0,Martinsville
3,"""BLUE ZEBRA"" LA ZEBRA AZUL RESTAURANT BAR, NIG...",California,Other,38.122706,-121.600563,4.500000,462,3.0,Isleton
4,"""Easy Insurance""",Nevada,Other,36.144533,-115.324783,5.000000,816,4.0,Las Vegas
...,...,...,...,...,...,...,...,...,...
379839,üîë üöóEZ Car Keyz Locksmith Camarillo,California,Other,34.232839,-119.519640,5.000000,1469,379839.0,Carpinteria
379840,üòÅ White Smiles of Boca,Florida,Other,26.350016,-80.902422,4.958333,8952,NaN,NaN
379841,ü•á Nectar Lab Kava Bar,Florida,Other,26.176886,-81.991630,4.945946,16206,NaN,NaN
379842,ü•áGenesis Window Tint,California,Other,33.737288,-116.551803,4.947368,3382,NaN,NaN
379843,ü•áIndio Mufflers & Auto Repair,California,Other,33.709816,-116.017130,4.818182,286,379843.0,Coachella

In [20]:
df_google_agrupado = df_google_agrupado.dropna(subset=['CITY'])
df_google_agrupado

StatementMeta(, , , Waiting, )

,NAME_y,STATE,CATEGORY SUMMARY,LATITUDE,LONGITUDE,RATING,NUM_OF_REVIEWS,Unnamed: 0,CITY
0,"""A"" Auto Body Shop",Virginia,Other,37.440815,-77.868580,4.892857,13664,0.0,Amelia Court House
1,"""Artcentric"" Pottery Painting and Glass Studio",California,Other,38.050382,-122.583503,4.952381,693,1.0,Lucas Valley-Marinwood
2,"""BIG VAPE"" Vapor Trails, LLC",Texas,Other,31.632691,-94.411059,4.928571,378,2.0,Martinsville
3,"""BLUE ZEBRA"" LA ZEBRA AZUL RESTAURANT BAR, NIG...",California,Other,38.122706,-121.600563,4.500000,462,3.0,Isleton
4,"""Easy Insurance""",Nevada,Other,36.144533,-115.324783,5.000000,816,4.0,Las Vegas
...,...,...,...,...,...,...,...,...,...
379834,üíê Affairs to Remember Florist,Massachusetts,Other,42.456006,-71.645155,4.888889,1062,379834.0,Bolton
379835,üí® 3J's Cigar Davie,Florida,Other,26.063887,-80.573358,4.843137,4335,379835.0,Weston
379836,üí® 3J's Cigar Lake Worth,Florida,Other,26.618506,-80.593124,4.933333,1410,379836.0,Sixmile Bend
379839,üîë üöóEZ Car Keyz Locksmith Camarillo,California,Other,34.232839,-119.519640,5.000000,1469,379839.0,Carpinteria
379843,ü•áIndio Mufflers & Auto Repair,California,Other,33.709816,-116.017130,4.818182,286,379843.0,Coachella

In [21]:
df_google_final = df_google_agrupado.groupby(['STATE','CITY','CATEGORY SUMMARY']).agg({'RATING': 'mean', 'NUM_OF_REVIEWS': 'sum'}).reset_index()

StatementMeta(, , , Waiting, )

In [ ]:
df_google_final

StatementMeta(, , , Waiting, )

            STATE             CITY CATEGORY SUMMARY    RATING  NUM_OF_REVIEWS
0         Alabama           Abanda            Other  4.833333             420
1         Alabama        Abbeville   Food and drink  4.869565             759
2         Alabama        Abbeville           Health  4.857143             392
3         Alabama        Abbeville            Other  4.782451            1562
4         Alabama        Abernathy            Other  4.776640            4564
...           ...              ...              ...       ...             ...
30687  Washington  Zangar Junction            Other  4.788853            2888
30688  Washington           Zillah   Food and drink  4.682499           79181
30689  Washington           Zillah            Other  4.745505          103056
30690  Washington          Zumwalt           Health  4.870130           16401
30691  Washington          Zumwalt            Other  4.857143             462

[30692 rows x 5 columns]

In [22]:
df_google_final= df_google_final[df_google_final['CATEGORY SUMMARY'] != 'Other']
df_google_final

StatementMeta(, , , Waiting, )

            STATE          CITY CATEGORY SUMMARY    RATING  NUM_OF_REVIEWS
1         Alabama     Abbeville   Food and drink  4.869565             759
2         Alabama     Abbeville           Health  4.857143             392
7         Alabama    Adamsville             Care  4.857143             812
8         Alabama    Adamsville         Cultural  4.625000             658
9         Alabama    Adamsville   Food and drink  4.801288           10771
...           ...           ...              ...       ...             ...
30678  Washington        Yakima        Nightlife  4.526316             874
30681  Washington  Yarrow Point   Food and drink  4.751852            5032
30684  Washington          Yelm   Food and drink  4.795434          577714
30688  Washington        Zillah   Food and drink  4.682499           79181
30690  Washington       Zumwalt           Health  4.870130           16401

[15876 rows x 5 columns]

In [ ]:
df_google_final = df_google_final.rename(columns= {'NUM_OF_REVIEWS': 'REVIEW_COUNT'})

StatementMeta(, , , Waiting, )

In [23]:
#Cargamos la data a nuestro lakehouse
df_google_final.to_csv('abfss://558991ad-6fdf-463a-b58a-238ddabaa398@onelake.dfs.fabric.microsoft.com/37a0382d-f783-4728-a697-48b1dc002937/Files/DATA MODELO/Google_Modelo.csv', index= False, escapechar='\\')

StatementMeta(, , , Waiting, )

**2.Yelp**

In [15]:
df_reviewyelp

StatementMeta(, , , Waiting, )

,REVIEW_ID,USER_ID,BUSINESS_ID,STARS,DATE,SENTIMENT_ANALYSIS
0,4-0bwy4XLxtu3iEuG-qstQ,1HM81n6n4iPIFU5d2Lokhw,oLc7k78_YcDMnMCdbC-h1A,2,2011-10-03,2
1,bl2_LKL9rAufLLwkauuLKA,1HM81n6n4iPIFU5d2Lokhw,sR3vWwqzN7vexUpHW72r0A,2,2014-08-11,2
2,la_Yav3WMpHJWCa232EllA,1HM81n6n4iPIFU5d2Lokhw,86JBr_XLNAC-Qu_Ph0AHxw,2,2011-11-30,2
3,kdMHtkIz-JaUC7MGJKvauQ,1HM81n6n4iPIFU5d2Lokhw,skJ1w8B5YusIibyxH4ohxQ,2,2013-12-30,2
4,Ki0crk5JLcSKmhDyYHRKOQ,1HM81n6n4iPIFU5d2Lokhw,BBXw5XPf63YX0fm2dYQzLw,2,2012-07-24,2
...,...,...,...,...,...,...
6990275,xu9Is80LPAUXmBP6hw9tWg,pY-xUzN-5w8I59pbOaKo-Q,GuzbBFraIq-fbkjfvaTRvg,5,2017-01-01,2
6990276,8Kkd-H1hF2K9zDZvoKUcnQ,VNKt38xHvxT8ZzcYk35Buw,GuzbBFraIq-fbkjfvaTRvg,5,2017-01-01,2
6990277,ysBY75WimFZRPSzdYUyWzA,8Jk4uBVObos4X9gAkLXQaw,GuzbBFraIq-fbkjfvaTRvg,5,2017-01-01,2
6990278,sLvr49BVGIUiNui5KrmK9w,eBthWfRDkwVMs85BC6YfDQ,GuzbBFraIq-fbkjfvaTRvg,5,2017-01-01,2
6990279,eskhZmsL_vJosEEhvk-SEA,3ZY4YsPPRfvyvIDsLUSIfA,GuzbBFraIq-fbkjfvaTRvg,5,2017-01-01,2

In [16]:
df_reviewyelp = df_reviewyelp[(df_reviewyelp['STARS'] > 3.5) & (df_reviewyelp['SENTIMENT_ANALYSIS'] > 0)]

StatementMeta(, , , Waiting, )

In [17]:
df_reviewyelp = df_reviewyelp.drop(['DATE','SENTIMENT_ANALYSIS', 'USER_ID', 'REVIEW_ID'],axis=1)
df_reviewyelp

StatementMeta(, , , Waiting, )

                    BUSINESS_ID  STARS
342359   Wr2k0Vz8RbcumYulp-jIrA      5
342360   Wr2k0Vz8RbcumYulp-jIrA      5
342361   Wr2k0Vz8RbcumYulp-jIrA      5
342362   Wr2k0Vz8RbcumYulp-jIrA      5
342363   Wr2k0Vz8RbcumYulp-jIrA      5
...                         ...    ...
6990275  GuzbBFraIq-fbkjfvaTRvg      5
6990276  GuzbBFraIq-fbkjfvaTRvg      5
6990277  GuzbBFraIq-fbkjfvaTRvg      5
6990278  GuzbBFraIq-fbkjfvaTRvg      5
6990279  GuzbBFraIq-fbkjfvaTRvg      5

[4598719 rows x 2 columns]

In [18]:
df_businessyelp

StatementMeta(, , , Waiting, )

,BUSINESS_ID,NAME,CITY,STATE,LATITUDE,LONGITUDE,STARS,REVIEW_COUNT,CATEGORIES,CATEGORIEPERS
0,HddE1bPVuTas6hACmHVcUQ,CVS Pharmacy,Philadelphia,LA,39.951734,-75.171693,3.0,71,"Shopping, Convenience Stores, Pharmacy, Health...",Shopping
1,XPOdKREKlB8uvsMMKNY_7w,CVS Pharmacy,Philadelphia,TN,39.966929,-75.176200,2.5,36,"Food, Shopping, Drugstores, Convenience Stores...",Shopping
2,gsG7nNnePxIed34lU7tgLw,CVS Pharmacy,Philadelphia,MO,39.947146,-75.166627,2.5,43,"Health & Medical, Drugstores, Shopping, Food, ...",Shopping
3,Xr08bwIBEsaQr83aJKQbNg,CVS Pharmacy,Philadelphia,FL,40.040895,-75.223965,2.5,35,"Cosmetics & Beauty Supply, Health & Medical, B...",Shopping
4,myQJP8ZziqXDgQBpfqoTvQ,CVS Pharmacy,Philadelphia,CA,39.953546,-75.209708,3.0,25,"Drugstores, Pharmacy, Health & Medical, Conven...",Shopping
...,...,...,...,...,...,...,...,...,...,...
150162,QS884ZcHmkTaWAmjrXyFlg,Miya Lunch Box and Catering,Philadelphia,PA,39.951558,-75.169052,4.0,5,"Japanese, Restaurants",Food and drink
150163,TAjUu0R-Owhu0cFZ4R_I7Q,Tree view cafe,Philadelphia,PA,40.034954,-75.121420,4.0,5,"Food, Burgers, Breakfast & Brunch, Coffee & Te...",Food and drink
150164,-yxOY_fhwp4uss-8rGTGcA,Cookie's Bar,Philadelphia,PA,39.922380,-75.151108,4.0,5,"American (Traditional), Nightlife, Restaurants...",Food and drink
150165,_XtUZuRLeTu-TqUjfF_OsQ,Almonte market,Philadelphia,PA,39.966390,-75.145811,4.0,5,"Convenience Stores, Food",Food and drink
150166,qU_CC7nJ-rOfCusuapOW8g,Lucky Restaurant,Philadelphia,PA,39.970481,-75.150397,4.0,5,"Chinese, Restaurants, American (Traditional)",Food and drink

In [19]:
df_businessyelp = df_businessyelp[df_businessyelp['STARS'] > 3.5]

StatementMeta(, , , Waiting, )

In [11]:
df_businessyelp = df_businessyelp.drop(['CATEGORIES','NAME'],axis=1)

StatementMeta(, , , Waiting, )

In [20]:
df_businessyelp = df_businessyelp.rename(columns= {'CATEGORIEPERS': 'CATEGORY SUMMARY'})

StatementMeta(, , , Waiting, )

In [ ]:
#Unimos la data correspondiente a yelp
df_yelp1 = pd.merge(df_reviewyelp, df_businessyelp, on='BUSINESS_ID', how='inner')

StatementMeta(, cc494f4d-540d-4700-b49e-c19ebca657c2, 71, Finished, Available)

In [ ]:
df_yelp1[(df_yelp1['CITY'] == 'New Orleans') & (df_yelp1['CATEGORY SUMMARY'] == 'Hotel')]

StatementMeta(, cc494f4d-540d-4700-b49e-c19ebca657c2, 74, Finished, Available)

,BUSINESS_ID,STARS_x,CITY,STATE,LATITUDE,LONGITUDE,STARS_y,REVIEW_COUNT,CATEGORY SUMMARY
51038,o3HubYII2z42Bi8kokVm3A,5,New Orleans,PA,29.956460,-90.066330,4.5,91,Hotel
51039,o3HubYII2z42Bi8kokVm3A,5,New Orleans,PA,29.956460,-90.066330,4.5,91,Hotel
51040,o3HubYII2z42Bi8kokVm3A,5,New Orleans,PA,29.956460,-90.066330,4.5,91,Hotel
51041,o3HubYII2z42Bi8kokVm3A,5,New Orleans,PA,29.956460,-90.066330,4.5,91,Hotel
51042,o3HubYII2z42Bi8kokVm3A,5,New Orleans,PA,29.956460,-90.066330,4.5,91,Hotel
...,...,...,...,...,...,...,...,...,...
3283656,AUpDD9rEJCE_ZYBUnru5oA,5,New Orleans,NJ,29.980765,-90.075217,4.5,11,Hotel
3283657,AUpDD9rEJCE_ZYBUnru5oA,5,New Orleans,NJ,29.980765,-90.075217,4.5,11,Hotel
3283658,AUpDD9rEJCE_ZYBUnru5oA,5,New Orleans,NJ,29.980765,-90.075217,4.5,11,Hotel
3283659,AUpDD9rEJCE_ZYBUnru5oA,5,New Orleans,NJ,29.980765,-90.075217,4.5,11,Hotel
3283660,AUpDD9rEJCE_ZYBUnru5oA,5,New Orleans,NJ,29.980765,-90.075217,4.5,11,Hotel

In [26]:
df_yelp1

StatementMeta(, , , Waiting, )

,BUSINESS_ID,STARS_x,CITY,STATE,LATITUDE,LONGITUDE,STARS_y,REVIEW_COUNT,CATEGORY SUMMARY
0,Wr2k0Vz8RbcumYulp-jIrA,5,Cherry Hill,AZ,39.91302,-75.002313,4.0,411,Food and drink
1,Wr2k0Vz8RbcumYulp-jIrA,5,Cherry Hill,AZ,39.91302,-75.002313,4.0,411,Food and drink
2,Wr2k0Vz8RbcumYulp-jIrA,5,Cherry Hill,AZ,39.91302,-75.002313,4.0,411,Food and drink
3,Wr2k0Vz8RbcumYulp-jIrA,5,Cherry Hill,AZ,39.91302,-75.002313,4.0,411,Food and drink
4,Wr2k0Vz8RbcumYulp-jIrA,5,Cherry Hill,AZ,39.91302,-75.002313,4.0,411,Food and drink
...,...,...,...,...,...,...,...,...,...
3285970,GEcE9Nggevn_h8cOOHWeqg,5,Reno,NJ,39.47780,-119.762715,5.0,5,Care
3285971,J9PYIOelORwLsdhfAD0Sgg,5,Doylestown,FL,40.29242,-75.129936,4.0,5,Service
3285972,J9PYIOelORwLsdhfAD0Sgg,5,Doylestown,FL,40.29242,-75.129936,4.0,5,Service
3285973,J9PYIOelORwLsdhfAD0Sgg,5,Doylestown,FL,40.29242,-75.129936,4.0,5,Service
3285974,J9PYIOelORwLsdhfAD0Sgg,5,Doylestown,FL,40.29242,-75.129936,4.0,5,Service

In [27]:
df_yelp1['RATING'] = (df_yelp1['STARS_x'] + df_yelp1['STARS_y']) /2

StatementMeta(, , , Waiting, )

In [28]:
df_yelp1 = df_yelp1.drop(['STARS_x', 'STARS_y', 'BUSINESS_ID'],axis=1)

StatementMeta(, , , Waiting, )

In [29]:
df_yelp1

StatementMeta(, , , Waiting, )

,CITY,STATE,LATITUDE,LONGITUDE,REVIEW_COUNT,CATEGORY SUMMARY,RATING
0,Cherry Hill,AZ,39.91302,-75.002313,411,Food and drink,4.5
1,Cherry Hill,AZ,39.91302,-75.002313,411,Food and drink,4.5
2,Cherry Hill,AZ,39.91302,-75.002313,411,Food and drink,4.5
3,Cherry Hill,AZ,39.91302,-75.002313,411,Food and drink,4.5
4,Cherry Hill,AZ,39.91302,-75.002313,411,Food and drink,4.5
...,...,...,...,...,...,...,...
3285970,Reno,NJ,39.47780,-119.762715,5,Care,5.0
3285971,Doylestown,FL,40.29242,-75.129936,5,Service,4.5
3285972,Doylestown,FL,40.29242,-75.129936,5,Service,4.5
3285973,Doylestown,FL,40.29242,-75.129936,5,Service,4.5
3285974,Doylestown,FL,40.29242,-75.129936,5,Service,4.5

In [31]:
df_yelp_agrupado = df_yelp1.groupby(['STATE','CITY','CATEGORY SUMMARY']).agg({'RATING': 'mean', 'REVIEW_COUNT': 'sum'}).reset_index()

StatementMeta(, , , Waiting, )

In [32]:
df_yelp_agrupado

StatementMeta(, , , Waiting, )

      STATE        CITY CATEGORY SUMMARY    RATING  REVIEW_COUNT
0        AB    Abington             Care  5.000000            64
1        AB    Abington        Education  4.535714            49
2        AB    Abington         Shopping  4.333333           192
3        AB      Affton   Food and drink  4.310811          1628
4        AB       Aldan         Shopping  5.000000            25
...     ...         ...              ...       ...           ...
16548    TX       Wayne   Food and drink  4.354545          3795
16549    UT      Tucson       Automotive  4.333333            42
16550    VT  Brookhaven   Food and drink  4.300000            40
16551    WA   Haverford             Care  4.500000           117
16552   XMS      Tucson             Care  4.731481           783

[16553 rows x 5 columns]

In [34]:
# Renombramos la columna STATE por 'a' para un mejor manejo de las columnas
df_yelp_agrupado = df_yelp_agrupado.rename(columns= {'STATE': 'a'})

StatementMeta(, , , Waiting, )

In [38]:
# creamos un diccionario con los valores de la columna 'a' como keys y los values con el nombre del estado completo correspondiente

estados = {"KY": 'Kentucky',
"VA": 'Virginia',
"HI": 'Hawaii',
"MI": 'Michigan',
"SC": 'South Carolina',
"WI": 'Wisconsin',
"NY": 'New York',
"RI": 'Rhode Island',
"NE": 'Nebraska',
"LA": 'Luisiana',
"PA": 'Pennsylvania',
"TN": 'Tennessee',
"MA": 'Massachusetts',
"MN": 'Minnesota',
"MT": 'Montana',
 "OR": 'Oregon',
"WA": 'Washington',
"AL": 'Alabama',
"NH": 'New Hampshire',
"ME": 'Maine',
"WY": 'Wyoming',
 "ID": 'Idaho',
"IN": 'Indiana',
"CT": 'Connecticut',
"DE": 'Delaware',
"CA": 'California',
"NM": 'New Mexico',
"OK": 'Oklahoma',
"SD": 'South Dakota',
"VT": 'Vermont',
"GA": 'Georgia',
"KS": 'Kansas',
"UT": 'Utah',
"CO": 'Colorado',
"NV": 'Nevada',
"NC": 'North Carolina',
"MS": 'Mississippi',
"NJ": 'New Jersey',
"AR": 'Arkansas',
"IA": 'Iowa',
"ND": 'North Dakota',
"FL": 'Florida',
"MO": 'Missouri',
"DC": 'District of Columbia',
"AK": 'Alaska',
"WV": 'West Virginia',
"IL": 'Illinois',
"MD": 'Maryland',
"OH": 'Ohio',
"TX": 'Texas',
"AZ": 'Arizona'}

StatementMeta(, , , Waiting, )

In [41]:
# Creamos la columnas STATE nuevamente con el nombre completo de los estados tomando como referencia los valores de 'a' para asignar como llaves
df_yelp_agrupado['STATE'] = df_yelp_agrupado['a'].map(estados)

StatementMeta(, , , Waiting, )

In [45]:
# Identificamos los valores que no corresponden a un lugar dentro de EE.UU
nulos = df_yelp_agrupado[df_yelp_agrupado['STATE'].isna()]

StatementMeta(, , , Waiting, )

In [47]:
df_yelp_agrupado = df_yelp_agrupado.drop(nulos.index)

StatementMeta(, , , Waiting, )

In [49]:
df_yelp_final = df_yelp_agrupado.drop(columns= 'a').reset_index(drop= True)

StatementMeta(, , , Waiting, )

In [51]:
df_yelp_final

StatementMeta(, , , Waiting, )

             CITY CATEGORY SUMMARY    RATING  REVIEW_COUNT       STATE
0        Abington             Care  5.000000            49     Arizona
1        Abington   Food and drink  4.612903         11729     Arizona
2        Abington          Service  4.750000            36     Arizona
3        Abington         Shopping  4.500000            15     Arizona
4          Affton   Food and drink  4.596154          1716     Arizona
...           ...              ...       ...           ...         ...
15676       Boise   Food and drink  4.071429            56       Texas
15677       Wayne   Food and drink  4.354545          3795       Texas
15678      Tucson       Automotive  4.333333            42        Utah
15679  Brookhaven   Food and drink  4.300000            40     Vermont
15680   Haverford             Care  4.500000           117  Washington

[15681 rows x 5 columns]

In [52]:
#Cargamos la data a nuestro lakehouse
df_yelp_final.to_csv('abfss://558991ad-6fdf-463a-b58a-238ddabaa398@onelake.dfs.fabric.microsoft.com/37a0382d-f783-4728-a697-48b1dc002937/Files/DATA MODELO/Yelp_Modelo.csv',index= False, escapechar='\\')

StatementMeta(, , , Waiting, )

##### Una vez trabajada toda la data, procedemos a unir cada una de ellas y filtrar segun los requerimientos de nuestro modelo.

In [2]:
# instanciamos ambos datasets

yelp = pd.read_csv('abfss://558991ad-6fdf-463a-b58a-238ddabaa398@onelake.dfs.fabric.microsoft.com/37a0382d-f783-4728-a697-48b1dc002937/Files/DATA MODELO/Yelp_Modelo.csv')
google = pd.read_csv('abfss://558991ad-6fdf-463a-b58a-238ddabaa398@onelake.dfs.fabric.microsoft.com/37a0382d-f783-4728-a697-48b1dc002937/Files/DATA MODELO/Google_Modelo.csv')

StatementMeta(, 883cf750-4f95-4e08-8cf4-c3014d4c1a79, 4, Finished, Available)

In [46]:
# unimos los dataframes en un solo dataframe
df_total = pd.concat([google,yelp])

StatementMeta(, 883cf750-4f95-4e08-8cf4-c3014d4c1a79, 48, Finished, Available)

In [5]:
df_total[(df_total['CITY'] == 'New Orleans') & (df_total['CATEGORY SUMMARY'] == 'Hotel')]

StatementMeta(, 883cf750-4f95-4e08-8cf4-c3014d4c1a79, 7, Finished, Available)

              STATE         CITY CATEGORY SUMMARY    RATING  REVIEW_COUNT
712         Arizona  New Orleans            Hotel  4.867600        217499
1712     California  New Orleans            Hotel  4.364873        457561
2333       Delaware  New Orleans            Hotel  4.812950         82430
3744        Florida  New Orleans            Hotel  4.724675       1128506
5066          Idaho  New Orleans            Hotel  4.440299          2750
5681       Illinois  New Orleans            Hotel  4.331989        192324
6670        Indiana  New Orleans            Hotel  4.663043         29295
7955       Luisiana  New Orleans            Hotel  4.671193       2542715
9206       Missouri  New Orleans            Hotel  4.566860         81229
10412    New Jersey  New Orleans            Hotel  4.619715        170275
11529        Nevada  New Orleans            Hotel  4.570419        882843
13330  Pennsylvania  New Orleans            Hotel  4.545227       1787076
15126     Tennessee  New Orleans            Hotel  4.506345        186985

In [7]:
df_total

StatementMeta(, , , Waiting, )

            STATE        CITY CATEGORY SUMMARY    RATING  REVIEW_COUNT
0         Alabama   Abbeville   Food and drink  4.869565           759
1         Alabama   Abbeville           Health  4.857143           392
2         Alabama  Adamsville             Care  4.857143           812
3         Alabama  Adamsville         Cultural  4.625000           658
4         Alabama  Adamsville   Food and drink  4.801288         10771
...           ...         ...              ...       ...           ...
15676       Texas       Boise   Food and drink  4.071429            56
15677       Texas       Wayne   Food and drink  4.354545          3795
15678        Utah      Tucson       Automotive  4.333333            42
15679     Vermont  Brookhaven   Food and drink  4.300000            40
15680  Washington   Haverford             Care  4.500000           117

[31557 rows x 5 columns]

In [ ]:
df_total

In [ ]:
df_total['CATEGORY SUMMARY'].unique()

StatementMeta(, , , Waiting, )

array(['Food and drink', 'Health', 'Care', 'Cultural', 'Shopping',
       'Hostel', 'Nightlife', 'Religion', 'Education', 'Service', 'Media',
       'Pets', 'Automotive', 'Entertainment', 'Hotel', 'Rent a Car'],
      dtype=object)

In [47]:
df_total['RATING_HOTEL'] = df_total['RATING'][df_total['CATEGORY SUMMARY'] == 'Hostel']

StatementMeta(, 883cf750-4f95-4e08-8cf4-c3014d4c1a79, 49, Finished, Available)

In [21]:
df_total[(df_total['CITY'] == 'New Orleans') & (df_total['CATEGORY SUMMARY'] == 'Hostel')]

StatementMeta(, 883cf750-4f95-4e08-8cf4-c3014d4c1a79, 23, Finished, Available)

,STATE,CITY,CATEGORY SUMMARY,RATING,REVIEW_COUNT,RATING_HOTEL
6156,Louisiana,New Orleans,Hostel,4.6625,2352,4.6625

In [48]:
df_total['RATING_HOTEL'] = df_total['RATING_HOTEL'].fillna(df_total[df_total['CATEGORY SUMMARY'] == 'Hotel']['RATING']).fillna(0)
df_total

StatementMeta(, 883cf750-4f95-4e08-8cf4-c3014d4c1a79, 50, Finished, Available)

,STATE,CITY,CATEGORY SUMMARY,RATING,REVIEW_COUNT,RATING_HOTEL
0,Alabama,Abbeville,Food and drink,4.869565,759,0.0
1,Alabama,Abbeville,Health,4.857143,392,0.0
2,Alabama,Adamsville,Care,4.857143,812,0.0
3,Alabama,Adamsville,Cultural,4.625000,658,0.0
4,Alabama,Adamsville,Food and drink,4.801288,10771,0.0
...,...,...,...,...,...,...
15676,Texas,Boise,Food and drink,4.071429,56,0.0
15677,Texas,Wayne,Food and drink,4.354545,3795,0.0
15678,Utah,Tucson,Automotive,4.333333,42,0.0
15679,Vermont,Brookhaven,Food and drink,4.300000,40,0.0
15680,Washington,Haverford,Care,4.500000,117,0.0

In [49]:
df_total[(df_total['CITY'] == 'New Orleans') & (df_total['CATEGORY SUMMARY'] == 'Hotel')]

StatementMeta(, 883cf750-4f95-4e08-8cf4-c3014d4c1a79, 51, Finished, Available)

,STATE,CITY,CATEGORY SUMMARY,RATING,REVIEW_COUNT,RATING_HOTEL
712,Arizona,New Orleans,Hotel,4.867600,217499,4.867600
1712,California,New Orleans,Hotel,4.364873,457561,4.364873
2333,Delaware,New Orleans,Hotel,4.812950,82430,4.812950
3744,Florida,New Orleans,Hotel,4.724675,1128506,4.724675
5066,Idaho,New Orleans,Hotel,4.440299,2750,4.440299
5681,Illinois,New Orleans,Hotel,4.331989,192324,4.331989
6670,Indiana,New Orleans,Hotel,4.663043,29295,4.663043
7955,Luisiana,New Orleans,Hotel,4.671193,2542715,4.671193
9206,Missouri,New Orleans,Hotel,4.566860,81229,4.566860
10412,New Jersey,New Orleans,Hotel,4.619715,170275,4.619715
11529,Nevada,New Orleans,Hotel,4.570419,882843,4.570419
13330,Pennsylvania,New Orleans,Hotel,4.545227,1787076,4.545227
15126,Tennessee,New Orleans,Hotel,4.506345,186985,4.506345

In [51]:
df_total1 = df_total.groupby(['STATE','CITY']).agg({'RATING': 'mean', 'REVIEW_COUNT': 'sum', 'RATING_HOTEL': 'sum'}).reset_index()

StatementMeta(, 883cf750-4f95-4e08-8cf4-c3014d4c1a79, 53, Finished, Available)

In [57]:
df_total1[(df_total1['CITY'] == 'New Orleans')]

StatementMeta(, 883cf750-4f95-4e08-8cf4-c3014d4c1a79, 59, Finished, Available)

              STATE         CITY    RATING  REVIEW_COUNT  RATING_HOTEL
753         Arizona  New Orleans  4.686483      60365459      4.867600
1763     California  New Orleans  4.579929       9864463      4.364873
2540       Delaware  New Orleans  4.686130       2299238      4.812950
3359        Florida  New Orleans  4.608423      98535334      4.724675
4083         Hawaii  New Orleans  4.718750           288      0.000000
4265          Idaho  New Orleans  4.600424      18668546      4.440299
4536       Illinois  New Orleans  4.554695        696639      4.331989
4896        Indiana  New Orleans  4.622252      12564220      4.663043
5357      Louisiana  New Orleans  4.785608       1325553      4.662500
5757       Luisiana  New Orleans  4.599158      30527210      4.714907
7331       Missouri  New Orleans  4.610553      55235800      4.566860
7812         Nevada  New Orleans  4.650382      10941987      4.570419
8245     New Jersey  New Orleans  4.563301      29220737      4.809857
10190  Pennsylvania  New Orleans  4.599039      87491533      4.647614
11203     Tennessee  New Orleans  4.633532      15164603      4.687097

In [56]:
df_total1[df_total1['RATING_HOTEL'] > 5.1].sort_values(by= 'RATING_HOTEL', ascending= False)

StatementMeta(, 883cf750-4f95-4e08-8cf4-c3014d4c1a79, 58, Finished, Available)

Empty DataFrame
Columns: [STATE, CITY, RATING, REVIEW_COUNT, RATING_HOTEL]
Index: []

In [53]:
# Definir las condiciones
condicion_1 = (df_total1['RATING_HOTEL'] > 5.1) & (df_total1['RATING_HOTEL'] <= 10)
condicion_2 = (df_total1['RATING_HOTEL'] > 10) & (df_total1['RATING_HOTEL'] <= 15)
condicion_3 = (df_total1['RATING_HOTEL'] > 15)

# Aplicar las condiciones y dividir los valores correspondientes
df_total1.loc[condicion_1, 'RATING_HOTEL'] /= 2
df_total1.loc[condicion_2, 'RATING_HOTEL'] /= 3
df_total1.loc[condicion_3, 'RATING_HOTEL'] /= 4

StatementMeta(, 883cf750-4f95-4e08-8cf4-c3014d4c1a79, 55, Finished, Available)

In [54]:
df_total1

StatementMeta(, 883cf750-4f95-4e08-8cf4-c3014d4c1a79, 56, Finished, Available)

            STATE          CITY    RATING  REVIEW_COUNT  RATING_HOTEL
0         Alabama     Abbeville  4.863354          1151           0.0
1         Alabama    Adamsville  4.729949         12439           0.0
2         Alabama       Addison  4.743869         92302           0.0
3         Alabama      Agricola  4.709686          7940           0.0
4         Alabama     Alabaster  4.707449         59544           0.0
...           ...           ...       ...           ...           ...
13441  Washington        Yakima  4.735437        398694           0.0
13442  Washington  Yarrow Point  4.751852          5032           0.0
13443  Washington          Yelm  4.795434        577714           0.0
13444  Washington        Zillah  4.682499         79181           0.0
13445  Washington       Zumwalt  4.870130         16401           0.0

[13446 rows x 5 columns]

In [58]:
df_total1[df_total1['RATING_HOTEL'] != 0.0]

StatementMeta(, 883cf750-4f95-4e08-8cf4-c3014d4c1a79, 60, Finished, Available)

            STATE         CITY    RATING  REVIEW_COUNT  RATING_HOTEL
10        Alabama       Alpine  4.722010        586757      4.670732
14        Alabama     Anniston  4.653680          3045      4.545455
25        Alabama       Athens  4.708370       4060927      4.487103
27        Alabama       Auburn  4.796796         97516      4.538462
37        Alabama  Bay Minette  4.802613         57737      4.642857
...           ...          ...       ...           ...           ...
13400  Washington       Tumtum  4.748718          2602      4.897436
13405  Washington        Union  4.471698         13621      4.471698
13412  Washington    Vancouver  4.715451       8983624      4.500000
13417  Washington      Waldron  4.793631        253000      4.818182
13419  Washington  Walla Walla  4.758757          6716      4.500000

[1924 rows x 5 columns]

In [59]:
df_total1.sort_values(by= ['REVIEW_COUNT', 'RATING'], ascending= (False, False))

StatementMeta(, 883cf750-4f95-4e08-8cf4-c3014d4c1a79, 61, Finished, Available)

              STATE              CITY    RATING  REVIEW_COUNT  RATING_HOTEL
3359        Florida       New Orleans  4.608423      98535334      4.724675
10241  Pennsylvania      Philadelphia  4.594677      90451346      4.474359
10190  Pennsylvania       New Orleans  4.599039      87491533      4.647614
3420        Florida           Orlando  4.833766      73023690      4.766667
7836         Nevada           Pahrump  4.824571      70423515      4.721092
...             ...               ...       ...           ...           ...
10076  Pennsylvania  Jefferson Parish  4.333333            15      0.000000
10140  Pennsylvania       Marshallton  4.333333            15      0.000000
9935   Pennsylvania   Crystal Springs  4.166667            15      0.000000
933         Arizona        Wood River  4.500000            10      0.000000
3610        Florida      Southeastern  4.500000            10      0.000000

[13446 rows x 5 columns]

In [ ]:
df_total1.sort_values(by= ['RATING', 'REVIEW_COUNT'], ascending= (False, False))

StatementMeta(, cc494f4d-540d-4700-b49e-c19ebca657c2, 82, Finished, Available)

,STATE,CITY,CATEGORY SUMMARY,RATING,REVIEW_COUNT,RATING_HOTEL
8551,Mississippi,New Albany,Health,5.0,23552,0.0
13107,Texas,Round Rock,Care,5.0,12716,0.0
7502,Luisiana,Doylestown,Shopping,5.0,11929,0.0
5032,Florida,Tarpon Springs,Care,5.0,11161,0.0
4663,Florida,Opa-locka,Food and drink,5.0,8414,0.0
...,...,...,...,...,...,...
13074,Pennsylvania,Liverpool,Food and drink,4.0,20,0.0
14790,Washington,Anderson Island,Cultural,4.0,18,0.0
3870,Florida,Palmetto,Food and drink,4.0,15,0.0
5623,Illinois,Levittown,Food and drink,4.0,15,0.0
7345,Luisiana,Bridgeton,Food and drink,4.0,10,0.0

In [60]:
#Cargamos la data a nuestro lakehouse
df_total1.to_csv('abfss://558991ad-6fdf-463a-b58a-238ddabaa398@onelake.dfs.fabric.microsoft.com/37a0382d-f783-4728-a697-48b1dc002937/Files/DATA MODELO/data_final_Modelo.csv',index= False, escapechar='\\')

StatementMeta(, 883cf750-4f95-4e08-8cf4-c3014d4c1a79, 62, Finished, Available)